.course{
    padding:0px 80px;
}
.course .tap .nav-item .nav-link{
	border: 2px solid #df3431;
	border-radius: 25px;
    padding:15px 30px;
	color:#df3431;
}
ul#myTab {
    justify-content: space-evenly; 
    text-decoration: none;
}
.nav-link.active, .nav-link:hover {
    background-color: #df3431;
    color: #fff !important;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: #df3431;
    border-radius: 25px;
}
.tab-content{
	margin-top:50px;
    border: 2px solid #df3431;
	border-radius: 25px;
}
ul#uncontrolled-tab-example {
    justify-content: space-evenly;
}
li .nav-link{
    color: #121212;
}
.course .nav-tabs {
    --bs-nav-tabs-border-width:none;
}
.tab-content>.active {
    display: block;
    padding: 30px 0px 0px;
}
li::marker {
    color: #df3431;
	font-size:16px;
}
.course-content {
    padding: 20px;
    margin-left: 20px;
    margin-bottom: 0;
}
.course-content li {
    font-family: poppins;
    color: #121212;
    font-size: 18px;
    line-height: 1.4;
    list-style-type: disclosure-closed;
    padding: 10px 0px;
}
.course-content li a {
    display: inline-block;
    margin-left: 5px;
}

.innerpage_wrapper{
	padding: 80px 0px;
}
@media (max-width: 767px){
.course .nav .nav-item {
    padding: 10px 0px;
}
}