.about-us .about-us-details{
				text-align:center;
}
.about-us-details h2{
	font-size: 30px;
	line-height: 1.4;
	font-weight: 400;
	padding-bottom: 10px;
	color: #df3431;
}	

.about-us .about-us-details p{
	 font-size: 16px;
	 line-height: 1.8;
	 margin-bottom: 24px;
}
.about-us .about-us-details h4{
   letter-spacing: 1px;
   line-height: 1.4;
   padding-bottom: 15px;
}	
.founder{
	margin-top:50px;
}
.founder .founder-details{
	 text-align:center;
}
.founder .founder-details img{
	 height:200px;
}
.founder .founder-details h6{
	 font-size:16px;
	 padding:10px 0px 10px 0px;
}

@media (max-width: 767px){
.inner-banner-content .inner-banner-details h3 {
	font-size: 30px !important;
}
.inner-banner-content {
    height: 160px !important;
    width: 335px !important;
}
iframe {
    width: 370px;
}
}