
.header{
	width:100%;
	height:80px;
	z-index:99;
	position:fixed;
	top:0px;
	right:0px;
	left:0px;	
	margin:auto;
	background-color: #fff;
}
.header .navbar .nav-link{
	letter-spacing: 1.2px;
    font-weight: 400;
    font-size: 14px;
	color: #191919;
    padding: 10px 15px;
	text-transform:uppercase;
	border-radius:25px;
}
.nav-link.active, .nav-link:hover {
    background: #df3431;
    color: #fff !important;
}
.header .navbar{
	padding:5px;
}
.header .navbar .navbar-nav{
	margin:auto; 
}
.header .container-fluid{
    width: 100%;
    padding: 0 35px;
}
.header .container-fluid .navbar-brand img{
	height:70px;
}
.header .container-fluid .collapse .nav-item .dropdown-menu {
	padding:10px 10px 0px 10px;
}
.header .container-fluid .collapse .nav-item .dropdown-menu li{
	padding-bottom:10px ;
}
.header .container-fluid .collapse .nav-item i{
	padding-right:5px;
}
.header .navbar .collapse .navbar-nav .shop-button{
	padding:0px 25px;
}
.header .navbar .collapse .navbar-nav .shop-button .button{
	margin-top:0px;
}
.header .navbar .collapse .navbar-nav .shop-button .button i{
	padding-left:5px;
}
.btn-primary {
    --bs-btn-color: #191919; 
    --bs-btn-bg: #fff; 
    --bs-btn-border-color: #fff;
	--bs-btn-active-bg:none;
	  font-size: 14px;
	  padding: 10px 12px;
	  border-radius:25px;
	  border:none;
}
.btn-primary.active, .btn-primary:hover {
    background: #df3431;
    color: #fff !important;
	
}
.btn-primary.show {
    color: #fff;
    background-color: #df3431;
    border-color: #df3431;
}
.dropdown-menu{
	--bs-dropdown-link-active-bg:#df3431;
}
@media (max-width: 991px){

	.navbar-collapse {
        flex-basis: unset;
        background: #fff;
        position: fixed;
        flex-grow: unset;
        top: 80px;
        right: 0;
        bottom: 0;
        padding: 10px 15px;
        height: 100%;
        width: 70%;
    }
	.header .navbar .nav-item {
        padding: 5px;
		border-bottom: 1px solid #d9dcde;
    }
	.nav-link .active, .nav-link:hover {
        border-radius: 0px;
    }
	.header .container-fluid {
		padding: 0 20px !important;
	}
	.header .container-fluid .navbar-brand img {
		height: 60px;
	}
	.shop-button{
		margin: 20px 0px;
	}
	.header .container-fluid .collapse .nav-item .dropdown-menu {
		padding: 10px 70px 0px 10px;
	}
	.header.dropdown-menu {
		transform: translate3d(7px, 36.2px, 0px);
	}
	
}